<h1>Editando Noticia de Deportes</h1>

<%= render "form", deporte: @deporte %>

<br>

<div>
  <%= link_to "Mostrar esta Noticia de Deportes", @deporte %> |
  <%= link_to "Volver a Noticias de Deportes", deportes_path %>
</div>
