<h1>Editando Noticia Internacional</h1>

<%= render "form", internacional: @internacional %>

<br>

<div>
  <%= link_to "Mostrar esta Noticia Internacional", @internacional %> |
  <%= link_to "Volver a Noticias Internacionales", internacionals_path %>
</div>
