<h1>Editando Noticia de Política</h1>

<%= render "form", politica: @politica %>

<br>

<div>
  <%= link_to "Mostrar esta Noticia de Política", @politica %> |
  <%= link_to "Volver a Noticias de Política", politicas_path %>
</div>
