<h1>Editiando Noticia de Farándula</h1>

<%= render "form", farandula: @farandula %>

<br>

<div>
  <%= link_to "Mostrar esta Noticia de Farándula", @farandula %> |
  <%= link_to "Volver a Noticias de Farándula", farandulas_path %>
</div>
