<h1>Editando Noticia Nacional</h1>

<%= render "form", nacional: @nacional %>

<br>

<div>
  <%= link_to "Mostrar esta Noticia Nacional", @nacional %> |
  <%= link_to "Volver a Noticias Nacionales", nacionals_path %>
</div>
