<nav class="container navbar navbar-expand-lg navbar-light" style="background-color: #9fa8da;" >
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Inicio</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Nueva Noticia
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="../deportes/new">Categoría Deportes</a></li>
            <li><a class="dropdown-item" href="../farandulas/new">Categoría Farándula</a></li>
            <li><a class="dropdown-item" href="../nacionals/new">Categoría Nacional</a></li>
            <li><a class="dropdown-item" href="../internacionals/new">Categoría Internacional</a></li>
            <li><a class="dropdown-item" href="../politicas/new">Categoría Política</a></li>            
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Link</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search Happy News" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
      </form>
    </div>
  </div>
</nav>

